.App {
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: 100px;
}

.editor {
  border: 1px solid #ccc;
  cursor: text;
  min-width: 30px;
  min-height: 80px;
  padding: 10px;
  position: relative;
}

.toolbar {
  position: absolute;
  z-index: 9999;
  height: 35px;
  cursor: default;
  background-color: aquamarine;
}
